---
---

// start content, the front matter section above is required
@import "{{ site.theme }}";

#project_tagline a {
    color: #fff;
}
h2.blog-category {
    margin: 0;
}
ul.posts {
    list-style: none;
    text-indent: -1em;
}
#post-info img {
    margin: 0;
    padding: 0;
    border: 0;
}
#post-info span {
    margin-right: .5em;
}
#post-info a {
    color: #373737;
}

#badges img {
    float:left;
}
#badges {
    clear: both;
}
.img-left {
    float:left; 
    padding-right:1em;
}
.img-right {
    float:right; 
    padding-left:1em;
}
h1, h2, h3, h4, h5, h6 {
    clear:both;
}