---
---

@import "{{ site.theme }}";
ul.posts {
    list-style: none;
    text-indent: -1em;
}
#post-info img {
    margin: 0;
    padding: 0;
    border: 0;
}
#post-info span {
    margin-right: .5em;
}