<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

    <!-- Include EnlighterJS Styles -->
    <link rel="stylesheet" type="text/css" href="/assets/enlightenerjs/EnlighterJS.min.css" />
    <!-- Include MooTools Framework -->
    <script type="text/javascript" src="/assets/enlightenerjs/MooTools.min.js"></script>
    <!-- Include EnlighterJS -->
    <script type="text/javascript" src="/assets/enlightenerjs/EnlighterJS.min.js" ></script>
    
    <!-- Initialize EnlighterJS -->
    <meta name="EnlighterJS" content="Advanced javascript based syntax highlighting" data-theme="classic" data-indent="4" data-selector-block="pre" data-selector-inline="code" data-rawcodebutton="true" data-linenumbers="true" />

{% feed_meta %}
{% seo %}
  </head>
  <body>
    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <h1 id="project_title"><a href="{{site.url}}" style="color:#fff">{{ site.title | default: site.github.repository_name }}</a></h1>
          <h2 id="project_tagline">{{ site.description | default: site.github.project_tagline }}</h2>

          {% if site.show_downloads %}
            <section id="downloads">
              <a class="zip_download_link" href="{{ site.github.zip_url }}">Download this project as a .zip file</a>
              <a class="tar_download_link" href="{{ site.github.tar_url }}">Download this project as a tar.gz file</a>
            </section>
          {% endif %}
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content }}

        {% if page.id %}
        <div id="post-info">
            <img style="width:1em" src="/assets/img/clock.svg" /><span>{{ page.date | date_to_string }}</span>
            <img style="width:1em" src="/assets/img/link.svg" /><a href="{{ page.id }}"></a><span>Permalink</span></a>
            <img style="width:1em" src="/assets/img/tags.svg" /> <span>{%- for tag in page.tags -%}<a href="/blog#{{ tag }}">{{ tag }}</a>&nbsp;{%- endfor -%}</span>
        </div>
        {% endif %}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p><a href="https://github.com/lanceengland">GitHub</a> | <a href="https://www.linkedin.com/in/lanceengland">LinkedIn</a> | <a href="https://twitter.com/lanceengland">Twitter</a> | <a href="/feed.xml">RSS</a> | <a href="/blog">Blog</a> | <a href="/about">About</a></p>
      </footer>
    </div>

    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
